@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Lexend&display=swap');

body {
  background-color: #000000;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box; 
}

a {
  text-decoration:none; 
}

ul {
  list-style: none;
}

#container {
  margin:0 auto;
  width:1200px;
}


/***** 헤더 *****/


header{
  width:100%;
  height:100px;
  background-color:rgb(0, 0, 0);
}

#logo{ 
  float:left;
  width:250px;
  height:100px;
  line-height:110px;
  padding-left:20px;
}

#logo h1 {
  font-family: "Bokor",  cursive;
  font-weight:700;
  font-size:70px;
  color:#fbfbfb;
  text-shadow:10px 10px 10px #000000;
}

nav{  
  font-family: "Lexend", sans-serif;
  float:right;
  width:800px;
  height:100px;
  padding-top:40px;
}

#topMenu {  
  height:60px; 
}

#topMenu > li {
  float:left;
  position: relative;
}

#topMenu > li > a{
  display:block;
  color:#fff;
  font-weight:600;
  padding:25px 65px;
}

#topMenu > li > a > span {
  font-size : 0.5em; 
}

#topMenu > li > a:hover {
  color:#8a1ac6;
  text-shadow:0 -1px rgb(142, 59, 162);
}

#topMenu > li > ul {
  display: none;
  position:absolute;
  width:160px;
  background:rgba(220, 184, 242, 0.6);
  left:20px;     
  margin:0;
}

#topMenu > li > ul > li {    
  padding:10px 10px 10px 30px;
}

#topMenu > li > ul > li > a { 
  font-size:14px;   
  padding:10px;
  color:#000;  
}

#topMenu > li:hover > ul {
  display: block;
  z-index:10;
}

#topMenu > li > ul > li > a:hover {
  color:rgb(232, 22, 225);   
} 


/***** 이미지 슬라이드 쇼 *****/

#slideShow {   
  clear:both;
  width:100%; 
  height:700px;
  overflow:hidden;
  position: relative;
}

#slides {
  position: absolute;
}

#slides > img {
  width:100%;
  float:left;
}

button{
  position: absolute;
  height:100%;
  top:0;
  border:none; 
  padding:20px;
  background-color: transparent;
  color:#000;
  font-weight:800;
  font-size: 24px;
  opacity: 0.5;
}

#prev {
  left:0;
}

#next {
  right:0;
}

button:hover {
  background-color:#222;
  color:#8a1ac6;
  opacity:0.6; 
  cursor:pointer;
}

button:focus {
  outline:0;
}


/***** 콘텐츠  *****/

#contents{  
  width:100%;
  height:400px;
  margin-top:0px;
  color:#f5f5f5;    
}

#tabMenu{  
  font-family: "Lexend", sans-serif;
  float:left;
  width:600px;
  height:100%;
  margin-top:10px;
  padding:0px;
}

#tabMenu  input[type="radio"] {
  display:none;
}

#tabMenu label {
  display:inline-block;
  margin:0 0;
  padding:15px 25px;
  font-weight:600;
  text-align: center;
  color:#aaa;
  border:1px solid transparent;
}

#tabMenu label:hover {
  color:#8a1ac6;  
  cursor:pointer;
}

#tabMenu input:checked + label {
  color:#c58be4a0;
  border:2px solid #c58be494;;
  background-color: #000000;
}

.tabContent { 
  display:none;
  padding:0 0 0;
  border-top:2px solid #818181;
  color:#9c9c9ca0;
  padding:20px;
}

.tabContent h2{  
  display:none; 
}

#notice ul {
  list-style: disc;
  margin-left:30px;
}

#notice ul li {
  font-size:16px;
  line-height:2.5;
}

#gallery ul li {
  display: inline;
  margin-right: 0px;
}

#gallery ul li img {
  width: 180px;
  height: 144px;
  opacity: 0.5;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#gallery ul li img:hover {
  opacity: 1;
  transform: scale(1.1);
}

#tab1:checked ~ #notice, 
#tab2:checked ~ #gallery {
  display:block;
}

#links {
  background-color: #4e0245ac;
  float: right;
  width: 600px;
  height: 359px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

#links ul {
  padding: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

#links ul li {
  float: left;
  width: 33%;
  text-align: center;
  margin: 10px 0;
}

#links ul li a span {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 1px solid #ddd;
  line-height: 150px;
}

#prev, #next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  border: none;
  background-color: transparent;
  color: #000;
  font-weight: 800;
  font-size: 30px;
  opacity: 0.5;
  cursor: pointer;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

#prev:hover, #next:hover {
  background-color: #222;
  color: #8a1ac6;
  opacity: 0.6;
}

#prev:focus, #next:focus {
  outline: 0;
}

.icon {
  width: 145px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  opacity: 0.9;
}

#links ul li a p {
  margin-top: 15px;
  font-weight: 300;
  color: #616161;
  font-size: 14px;
  line-height: 1.4;
  padding-left: 10px;
  padding-right: 10px;
}


/***** 푸터 *****/

footer{   
  width:100%;
  height:100px;
  border-top:2px solid #222;
}

#bottomMenu{
  width:100%;
  height:50px;
  position:relative;  
  background: linear-gradient(to right, #80001596, #804000a1, #807500a0, #44800090, #00646785, #00377f97, #4c0082a4, #82007197);
}

#bottomMenu ul {
  margin-top:15px;  
}

#bottomMenu ul li{
  float:left;
  padding:15px 20px;
  border-right:1px solid #ddd;
}

#bottomMenu ul li:last-child{
  border:none;  
}

#bottomMenu ul li a, #bottomMenu ul li a:visited {  
  font-family: "Lexend", sans-serif;
  font-size:15px;
  color:#aaa;
}

#sns {
  position:absolute;  
  right:0;
}

#sns ul li{
  border:none;
  padding:5px;   
} 

#company{
  clear:left;
  margin-top:25px;
  margin-left:20px;
}

p {
  font-family: "Lexend", sans-serif;
  font-size:14px;
  color:#686868;
}